@ant-blue: #1890ff;
@light-gray: #dedede;

body {
  background-color: #ffffff !important;
  // 浏览器禁用滚动条
  overflow : hidden;
}

/*
:global(.ant-layout-sider-trigger) {
  background-color: transparent !important;
  color: @ant-blue !important;
  border: 1px solid @ant-blue;
}

:global(.ant-layout-sider-children) {
  background-color: transparent !important;
}
*/
